name: Smoke Test CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Smoke Tests
      run: |
        python -m pytest -m smoke --html=reports/ci_report.html --self-contained-html
      if: always()

    - name: Upload Report Artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: pytest-reports
        path: reports/